.home__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    .disco__container {
        margin-top: 3rem;
        img {
            max-width: 250px;
            height: auto;
        }
    }
}